<?xml version="1.0" encoding="US-ASCII"?>
<launch>
  <!-- iwaki arguments -->
  <arg name="loop_rate" default="0.1"/> <!-- seconds -->
  <arg name="data_dir"  default="$(find ocular_interaction)/data"/>
  <arg name="init_dir"  default="init_files"/>
  <arg name="atoms_dir" default="atoms"/>
  <arg name="atoms"     default="default_atoms.xml"/>
  <arg name="init_file" default="ocular_interaction.xml"/>
  <arg name="loglevel"  default="INFO"/>
  <!-- debug levels:  ERROR, WARNING, INFO,
                      DEBUG, DEBUG1, DEBUG2, DEBUG3, DEBUG4 -->
  <arg name="db_dir" default="$(env PWD)"/>
  <arg name="object_db"/>   <!-- Filename of the object database -->

  <include file="$(find ocular)/launch/ocular.launch">
    <arg name="event_topic" default="event"/>
    <arg name="interactive_event_topic" default="interactive_event"/>
  </include>

  <include file="$(find ocular_active_learning)/launch/ocular_al.launch"/>

  <include file="$(find ocular_interaction)/launch/ocular_interaction.launch">
    <arg name="loop_rate" value="$(arg loop_rate)"/> <!-- seconds -->
    <arg name="data_dir"  value="$(arg data_dir)"/>
    <arg name="init_dir"  value="$(arg init_dir)"/>
    <arg name="atoms_dir" value="$(arg atoms_dir)"/>
    <arg name="atoms"     value="$(arg atoms)"/>
    <arg name="init_file" value="$(arg init_file)"/>
    <arg name="debug"     value="$(arg loglevel)"/>
    <arg name="object_db" value="$(arg db_dir)/$(arg object_db)"/>
  </include>

  <include file="$(find etts)/launch/etts.launch"/>
  
  <rosparam command="load"
            file="$(find ocular_interaction)/params/asr_commands.yaml"/>

  <!-- Google ASR (no grammar based) -->
  <node name="asr_open_grammar"
        pkg="asr"
        type="launcher_open_grammar_asr_skill.exe"
        args=" --activate --volume_threshold 1200"
        respawn="false"
        output="screen">
      <param name="language" type="string" value="spanish" />
  </node>
</launch>
