<?xml version="1.0" encoding="US-ASCII"?>
<launch>
    <arg name="object_db"/>   <!-- Filename of the object database -->
    <node pkg="ocular_active_learning"
          type="ocular_estimator.py"
          name="ocular_estimator"
          args="predictions:=/ocular/predictions/accumulated_predictions
                final_object_id:=/ocular/final_object_id">
    </node>

    <node pkg="ocular_active_learning"
          type="ocular_predictions_accumulator.py"
          name="ocular_predictions_accumulator"
          args="object_id:=/ocular/object_id
                predictions:=/ocular/predictions/accumulated_predictions">
        <param name="rate" value="30"/>
    </node>

    <group ns="/ocular/predictions/">
      <node pkg="ocular_active_learning"
            type="ocular_uncertainty_publisher.py"
            name="ocular_uncertainty_publisher"
            args="$(arg object_db)">
      </node>
      
      <node pkg="ocular_active_learning"
            type="al_asker_node.py"
            name="al_asker_node"
            output="screen">
      </node>

      <!-- <node pkg="ocular_active_learning"
            type="prediction_summarizer.py"
            name="prediction_summarizer">
      </node> -->
    </group>
</launch>